---
import Column from "@components/modular/column.astro";
import Text from "@components/modular/text.astro";
import List from "@components/modular/list.astro";
import Base from "@layouts/base.astro";
import Link from "@modular/link.astro";
import Row from "@modular/row.astro";
import Stack from "@modular/stack.astro";
import Title from "@modular/title.astro";
import { Align } from "@lib/align";
import { formatDate } from "@lib/date";
import { getReadTime } from "@services/content";
import ArrowLeft from "@components/modular/icons/arrow-left.astro";
---

<Base>
    <nav
        class="py-2 sticky top-0 z-50 bg-light/90 dark:bg-dark/90 backdrop-blur-2xl"
    >
        <Column align={Align.START}>
            <Link href="/">
                <Row align={Align.CENTER}>
                    <ArrowLeft />
                    Home
                </Row>
            </Link>
        </Column>
    </nav>

    <Column>
        <Stack>
            <Title>About me</Title>
            <Row>
                <p>{formatDate(new Date(2026, 6, 2))}</p>
                •
                <p>5 min read</p>
            </Row>

            <slot name="team" />
        </Stack>

        <Column gap={4}>
            <Text>
                I love building <b>backend services</b> (monolithic and microservices)
                that are <b>scalable</b> and <b>robust</b>. On the frontend, I
                implement <b>responsive and intuitive interfaces</b> (web and mobile).
            </Text>

            <Text>
                I write structured and scalable code while <b
                    >communicating clearly</b
                > in team.
            </Text>

            <Text>
                I recently graduated with a bachelor's degree in Applied
                Computer Science from KdG University of Applied Sciences in
                Antwerp.
            </Text>

            <Text>
                I have experience in a lot of different programming languages
                and frameworks.
            </Text>

            <List>
                <li>Java and Spring Boot</li>
                <li>C# and the .NET Framework</li>
                <li>Golang</li>
                <li>Python</li>
                <li>Node JS & Deno</li>
                <li>Typescript & Javascript</li>
                <li>React, Next JS, Vue and Astro</li>
                <li>Docker</li>
                <li>Git</li>
                <li>CSS and Tailwind</li>
                <li>SQL</li>
                <li>...</li>
            </List>

            <Text>
                I love using tools and frameworks that make my code <b
                    >readable</b
                > and <b>maintainable</b>.
            </Text>
        </Column>
    </Column>
</Base>
