---
import Column from "@components/modular/column.astro";
import Navigation from "@components/navigation.astro";
import { Align } from "@lib/align";
import Card from "@modular/card.astro";
import type { Article } from "@models/article";
import { getArticles } from "@services/articles";
import Page from "@layouts/page.astro";

const articles: Article[] = await getArticles();
---

<Page>
    <Navigation />

    <Column>
        <p>
            Learn more about my experience as a student and software engineer.
        </p>

        <Column align={Align.START} gap={4}>
            {
                articles.map((article: Article) => {
                    return (
                        <Card
                            content={article}
                            href={`/articles/${article.slug}`}
                        />
                    );
                })
            }
        </Column>
    </Column>
</Page>
