#content a {
    @apply dark:hover:text-gruvbox-accent hover:text-gruvbox-accent-l transition-colors underline cursor-pointer;
}

#content strong {
    @apply font-bold dark:text-gruvbox-fg text-gruvbox-bg;
}

#content h1 {
    @apply text-lg my-2 text-gruvbox-fg;
}

#content img {
    @apply rounded-md border-3;
}

#content ul {
    @apply list-disc ml-8;
}

#content blockquote {
    @apply ml-2 my-2 border-l-3 border-gruvbox-accent px-4 py-1;
}

#content code:not(pre > code) {
    @apply font-code bg-gruvbox-fg-2 text-sm py-0.5 px-1 rounded-md text-gruvbox-bg;
}

#content pre {
    @apply p-2 rounded-md;
}

#content pre code {
    @apply font-code text-sm py-0.5 rounded-md text-gruvbox-fg-2;
}

#content hr {
    @apply my-2 border-0;
}

#content th {
    @apply px-8 uppercase underline decoration-dotted decoration-2;
}
