@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "Mononoki";
    src: url("./mononoki.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-sans: "Nunito", "sans-serif";
    --font-code: "Mononoki", "code";

    --color-dark: #121212;
    --color-light: #f4f4f4;
    --color-mid: #bbbbbb;
    --color-accent: #ffba7b;

    --color-dark-l: #f4f4f4;
    --color-light-l: #121212;
    --color-mid-l: #bbbbbb;
    --color-accent-l: #6099c0;
}

@import "./content.css";
