---
import Navigation from "@components/navigation.astro";
import Page from "@layouts/page.astro";
import Column from "@modular/column.astro";
import Link from "@modular/link.astro";
import Title from "@modular/title.astro";
import {Gap} from "@lib/gap";
---

<Page>
    <Navigation/>

    <Column gap={Gap.SMALL}>
        <Title>404</Title>
        <Column gap={Gap.NONE}>
            <p>
                That page was not found!<br/>
                Try going back to the homepage via{" "}
                <Link href="/">this link</Link>
                .
            </p>
        </Column>
    </Column>
</Page>
