---
import Navigation from "@components/navigation.astro";
import Base from "@layouts/base.astro";
import Column from "@modular/column.astro";
import Link from "@modular/link.astro";
import Title from "@modular/title.astro";
---

<Base>
    <Navigation />

    <Column>
        <Title>404</Title>
        <Column gap={2}>
            <p>That page was not found!</p>
            <p>
                Try going back to the homepage via
                <Link href="/">this link</Link>.
            </p>
        </Column>
    </Column>
</Base>
