---
import Column from "@components/column.astro";
import Link from "@components/link.astro";
import Title from "@components/title.astro";
import Base from "@layouts/base.astro";
---

<Base>
    <Column>
        <Title>404</Title>
        <Column gap={2}>
            <p>That page was not found!</p>
            <p>
                Try going back to the homepage via
                <Link href="/">this link</Link>.
            </p>
        </Column>
    </Column>
</Base>
