---
import Articles from "@components/articles.astro";
import Column from "@components/modular/column.astro";
import Navigation from "@components/navigation.astro";
import Projects from "@components/projects.astro";
import Base from "@layouts/base.astro";
import Link from "@modular/link.astro";
import Quote from "@modular/quote.astro";
---

<Base>
    <Navigation />

    <Column>
        <p>
            My name is Kaj and I'm a student at KdG in Antwerp. I love creating
            websites, software and other technological stuff.
        </p>

        <Quote>
            <Link href="/articles/about-me">Click here</Link> if you want to learn
            more about me.
        </Quote>

        <p>
            Contact me via
            <Link href="mailto:contact@niceduck.dev" target="_blank"
                >contact@niceduck.dev</Link
            > or <Link href="https://linkedin.com/in/kaj-botty" target="_blank"
                >LinkedIn</Link
            > and check out my projects on <Link
                href="https://github.com/niceduckdev"
                target="_blank">Github</Link
            >.
        </p>
    </Column>

    <Articles />
    <Projects />
</Base>
