---
import Column from "@components/modular/column.astro";
import Text from "@components/modular/text.astro";
import Navigation from "@components/navigation.astro";
import Base from "@layouts/base.astro";
import Profile from "@components/profile.astro";
import { getHighlightedProject } from "@services/projects.ts";
import Card from "@components/modular/card.astro";
import Quote from "@components/modular/quote.astro";
import Link from "@components/modular/link.astro";

const project = await getHighlightedProject();
---

<Base>
    <Navigation />

    <Column>
        <Column gap={4}>
            <Profile />

            <Column>
                <Text>
                    Hi there! I'm Kaj, a software developer based in Antwerp.
                </Text>
                <Text>
                    I recently graduated with a bachelor's degree in Applied
                    Computer Science from KdG University of Applied Sciences in
                    Antwerp.
                </Text>

                <Quote>
                    You should probably read <Link href="/articles/about-me"
                        >this article</Link
                    > to learn more about me!
                </Quote>
            </Column>

            <Column>
                <p>
                    Check out "{project.title}", one of my favourite projects!
                </p>
                <Card content={project} href={`/projects/${project.slug}`} />
            </Column>
        </Column>
    </Column>
</Base>
