---
import Card from "@components/card.astro";
import Column from "@components/column.astro";
import Title from "@components/title.astro";
import Base from "@layouts/base.astro";
import { formatDate, sortOnDate } from "@lib/date";
import { convertSlug } from "@lib/slug";
import { getCollection } from "astro:content";

const projects = await getCollection("projects").then((projects) => sortOnDate(projects));
---

<Base>
    <Column>
        <Title>projects</Title>
        <section class="grid md:grid-cols-2 gap-4">
            {
                projects.map((project: any) => (
                    <Card
                        title={project.data.title}
                        image={project.data.image ? `projects/${project.data.image}` : "null.webp"}
                        date={formatDate(project.data.date)}
                        href={`/projects/${convertSlug(project.data.title)}`}
                    />
                ))
            }
        </section>
    </Column>
</Base>
