---
import { Align } from "@lib/align";
import type { Article } from "@models/article";
import Card from "@modular/card.astro";
import Column from "@modular/column.astro";
import Title from "@modular/title.astro";
import { getArticles } from "@services/articles";

const articles: Article[] = await getArticles();
---

<Column>
    <Column gap={0}>
        <Title>articles</Title>
        <p>
            Learn more about my experience as a student and software engineer.
        </p>
    </Column>

    <Column align={Align.START} gap={4}>
        {
            articles.map((article: Article) => {
                return (
                    <Card
                        content={article}
                        href={`/articles/${article.slug}`}
                    />
                );
            })
        }
    </Column>
</Column>
