---
import Link from "@components/modular/link.astro";

const year = new Date().getFullYear();
---

<footer class="pb-2 pt-5 flex flex-col md:flex-row justify-between">
    <p>Developed by <Link href="/" hideActive={true}>Kaj Botty</Link></p>
    <p>© 2021 - {year}</p>
</footer>
