<nav class="flex flex-col">
    <h1
        class="text-3xl dark:text-gruvbox-accent text-gruvbox-accent-l font-bold"
    >
        niceduckdev
    </h1>
    <h2>Student + Software Developer</h2>
</nav>
