---
import Column from "@modular/column.astro";
import Row from "@modular/row.astro";
import Link from "@modular/link.astro";
---

<nav class="py-2 sticky top-0 z-50 bg-light/90 dark:bg-dark/90 backdrop-blur-2xl">
    <Column>
        <Column gap={0}>
            <h1 class="text-3xl dark:text-accent text-accent-l font-bold">
                Kaj Botty
            </h1>
            <h2>Student + Software Engineer</h2>
        </Column>

        <Row gap={3} wrap={true}>
            <Link href="/">Home</Link>
            <Link href="/about">About</Link>
            <Link href="/projects">Projects</Link>
            <Link href="/articles">Articles</Link>
        </Row>
    </Column>
</nav>
