---
import Column from "@modular/column.astro";
import Row from "@modular/row.astro";
---

<nav>
    <Column gap={0}>
        <h1 class="text-3xl dark:text-accent text-accent-l font-bold">
            niceduckdev
        </h1>
        <h2>Student + Software Engineer</h2>
    </Column>
</nav>
