---
import type { MarkdownHeading } from "astro";
import Link from "@modular/link.astro";

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

{
    headings.length > 0 && (
        <nav class="hidden xl:block max-w-56 p-8 text-sm rounded-lg mt-auto">
            <p class="dark:text-light text-light-l text-lg mb-2">
                On This Page
            </p>

            <ul class="flex flex-col gap-2">
                {headings.map((heading, index) => (
                    <li>
                        <Link href={`#${heading.slug}`}>
                            {index + 1}. {heading.text}
                        </Link>
                    </li>
                ))}
            </ul>
        </nav>
    )
}
