---
import type { MarkdownHeading } from "astro";
import Link from "@modular/link.astro";

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

{
    headings.length > 0 && (
        <nav class="fixed bottom-4 left-4 z-40 hidden lg:block max-w-56 p-4 text-sm rounded-lg">
            <p class="dark:text-light text-light-l text-lg mb-2">
                On this page
            </p>

            <ul class="flex flex-col gap-2">
                {headings.map((heading) => (
                    <li>
                        <Link href={`#${heading.slug}`}>{heading.text}</Link>
                    </li>
                ))}
            </ul>
        </nav>
    )
}
