---
import { getCollection, render } from "astro:content";
import Base from "@layouts/base.astro";
import Link from "@components/link.astro";
import Title from "@components/title.astro";
import { formatDate } from "@lib/date";
import { getTime } from "@lib/time";

export async function getStaticPaths() {
    const posts = await getCollection("projects");
    return posts.map((post) => ({
        params: { slug: post.data.title.toLowerCase().replaceAll(" ", "-").replaceAll('"', "").replaceAll("'", "") },
        props: { post },
    }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Base>
    <div id="content" class="flex flex-col gap-2">
        <section>
            <Title>{post.data.title.toLowerCase()}</Title>
            <section class="flex gap-3">
                <p>{formatDate(post.data.date)}</p>
                <p>{getTime(post.body)} min read</p>
            </section>
        </section>
        
        <Content />
    </div>
</Base>
