---
import Column from "@components/column.astro";
import Link from "@components/link.astro";
import Row from "@components/row.astro";
import Stack from "@components/stack.astro";
import Title from "@components/title.astro";
import Base from "@layouts/base.astro";
import { Align } from "@lib/align";
import { formatDate } from "@lib/date";
import { convertSlug } from "@lib/slug";
import { getTime } from "@lib/time";
import { getAllProjects } from "@services/project-service";
import { render } from "astro:content";

export async function getStaticPaths() {
    const projects = await getAllProjects();
    return projects.map((project: any) => ({
        params: {
            slug: convertSlug(project.data.title),
        },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Base>
    <Column align={Align.START}>
        <Link href="/projects">← Back</Link>
    </Column>

    <Column>
        <Stack>
            <Title>{project.data.title}</Title>
            <Row>
                <p>{formatDate(project.data.date)}</p>
                <p>{getTime(project.body)} min read</p>
            </Row>
        </Stack>
        <section id="content" class="flex flex-col gap-3">
            <Content />
        </section>
    </Column>
</Base>
