---
import Column from "@components/modular/column.astro";
import Navigation from "@components/navigation.astro";
import Page from "@layouts/page.astro";
import { Align } from "@lib/align";
import type { Project } from "@models/project";
import Card from "@modular/card.astro";
import { getProjects } from "@services/projects";

const projects: Project[] = await getProjects();
---

<Page>
    <Navigation />

    <Column>
        <p>
            Check out some of the projects I've built along the way. Some were
            built as projects at KdG, some were built in my free time.
        </p>

        <Column align={Align.START} gap={4}>
            {
                projects.map((project: Project) => {
                    return (
                        <Card
                            content={project}
                            href={`/projects/${project.slug}`}
                        />
                    );
                })
            }
        </Column>
    </Column>
</Page>
