@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Nunito", "sans-serif";
    --font-code: url("./mononoki-Regular.ttf") format("truetype");

    --color-gruvbox-bg: #282828;
    --color-gruvbox-fg: #ebdbb2;
    --color-gruvbox-fg-2: #7c6f64;
    --color-gruvbox-accent: #d79921;

    --color-gruvbox-bg-l: #fbf1c7;
    --color-gruvbox-fg-l: #3c3836;
    --color-gruvbox-fg-2-l: #7c6f64;
    --color-gruvbox-accent-l: #d79921;
}

#content a {
    @apply dark:hover:text-gruvbox-accent hover:text-gruvbox-accent-l transition-colors underline cursor-pointer;
}

#content img {
    @apply rounded-md border border-4;
}

#content ul {
	@apply list-disc ml-8;
}

#content blockquote {
	@apply ml-2 border border-l-4 border-gruvbox-accent border-0 px-4 py-1;
}

#content code {
	@apply bg-gruvbox-fg-2 text-sm py-0.5 px-1 rounded-md text-gruvbox-bg;
}
