---
import Column from "@modular/column.astro";
import Footer from "@components/footer.astro";
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <title>niceduck.dev</title>
    </head>
    <body
        class="font-sans dark:bg-dark dark:text-mid bg-dark-l text-mid- m-auto max-w-2xl font-bold pt-5 px-5 cursor-default flex flex-col h-screen justify-between gap-4"
    >
        <Column gap={4}>
            <slot />
        </Column>

        <Footer />
    </body>
</html>
