---
import Nav from "@components/nav.astro";
import Column from "@components/column.astro";
import Footer from "@components/footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <title>niceduck.dev</title>
    </head>
    <body
        class="font-sans dark:bg-gruvbox-bg dark:text-gruvbox-fg-2 bg-gruvbox-bg-l text-gruvbox-fg-2- m-auto max-w-2xl font-bold pt-5 px-5 cursor-default flex flex-col h-screen justify-between gap-4"
    >
        <Column gap={6}>
            <slot />
        </Column>
        <Footer />
    </body>
</html>
