---
const { href, target } = Astro.props;
---

<a
    href={href}
    target={target ?? "_self"}
    class="border-2 dark:border-mid border-mid-l hover:border-accent hover:text-accent transition-colors rounded-md text-center cursor-pointer"
>
    <slot />
</a>
