---
import { getGap } from "@lib/gap";
import { getAlign } from "@lib/align";
const { gap, align, wrap } = Astro.props;
---

<section class={`flex flex-row ${getGap(gap)} ${getAlign(align)} ${wrap === true && "flex-wrap"}`}>
	<slot />
</section>
