---
import {Align} from "@lib/align";
import {Gap} from "@lib/gap";

interface Props {
    gap?: Gap;
    align?: Align;
    wrap?: boolean;
}
const {gap, align, wrap} = Astro.props;
---

<section class={`flex flex-row ${gap ?? Gap.MEDIUM} ${align} ${wrap ? "flex-wrap" : ""}`}>
    <slot/>
</section>
